<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Главная</title>
</head>
<body>
<section class="container">
    <div class="mx-auto border my-5 py-3 px-3 form">
        <form action="/api/v1/assumptions" method="get">
            <div class="form-group">
                <label for="link">Ссылка на профиль (VK, Twitter, Instagram, Facebook)</label>
                <input class="form-control" id="link" type="text" name="link">
            </div>
            <input class="btn btn-primary" type="submit" value="Поиск"/>
        </form>
    </div>
    <table id="table_solutions" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>VK</th>
            <th>Twitter</th>
            <th>Facebook</th>
            <th>Instagram</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{#vk}}<a href="https://vk.com/{{vk}}">{{vk}}</a>{{/vk}}</td>
                <td>{{#twitter}}<a href="https://twitter.com/{{twitter}}">{{twitter}}</a>{{/twitter}}</td>
                <td>{{#facebook}}<a href="https://facebook.com/{{facebook}}">{{facebook}}</a>{{/facebook}}</td>
                <td>{{#instagram}}<a href="https://instagram.com/{{instagram}}">{{instagram}}</a>{{/instagram}}</td>
            </tr>
        </tbody>
    </table>
</section>

</body>
</html>
